#theme-widget {
    display: flex;
    align-items: center;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--cor-background);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    user-select: none;
}

#theme-sun, #theme-moon {
    flex: 1;
    text-align: center;
    line-height: 40px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

#theme-divider {
    width: 1px;
    height: 60%;
    background-color: var(--cor-cinza-claro);
}


body[data-theme="light"] #theme-sun {
    color: var(--cor-principal);
}
body[data-theme="light"] #theme-moon {
    color: var(--cor-cinza-claro);
}

body[data-theme="dark"] #theme-sun {
    color: var(--cor-cinza-claro);
}
body[data-theme="dark"] #theme-moon {
    color: var(--cor-principal);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 1100px;
    max-width: 1200px;
    min-width: 1024px;
    height: 900px;
    background: white;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #d89c4a;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo-container img {
    height: 80px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

header nav li {
    text-align: center;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: #803919;
    font-size: 32px;
    font-weight: 600;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #F3E3C4;
}

header .icons i {
    margin-left: 50px;
    cursor: pointer;

}
#carrinho{
    font-size: 40px;
}
#icone{
    font-size: 56px;
}

header #carrinho:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

header #icone:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.banner img {
    display: block;
    margin: 20px auto;
    width: 990px;
    border-radius: 5px;
}

.perfil {
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 990px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.perfil-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.perfil-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.perfil-texto h3 {
    margin-bottom: 5px;
}

.perfil-texto p {
    font-size: 14px;
}

.canga-points {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.menu-perfil {
    display: flex;
    justify-content: space-around;
    background: #f5f5f5;
    border: 1px solid #ccc;
    margin: 10px auto;
    width: 990px;
}

.menu-perfil a {
    padding: 10px;
    text-decoration: none;
    color: black;
    flex: 1;
    text-align: center;
    border-right: 1px solid #ccc;
}

.menu-perfil a:hover {
    border-bottom: 3px solid #46ce3b;
}

.historico {
    background: #f5f5f5;
    width: 990px;
    margin: 0 auto 40px;
    border: 1px solid #ccc;
    padding: 15px;
    flex: 1;
}

.historico-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historico-lista {
    height: 400px;
    overflow-y: auto;
    padding-right: 5px;
}

.historico-lista::-webkit-scrollbar {
    width: 8px;
}

.historico-lista::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 4px;
}

.historico-lista::-webkit-scrollbar-thumb {
    background: #b5835a;
    border-radius: 4px;
}

.historico-lista::-webkit-scrollbar-thumb:hover {
    background: #9c6b4a;
}

.pedido {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.pedido-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pedido-content {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.pedido-content img {
    width: 120px;
    height: 80px;
    border-radius: 5px;
}

.estrelas {
    color: gold;
    margin-bottom: 5px;
}
