{% extends "base.html" %}

{% block titulo %}
    Carrinho
{% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrinho-light.css') }}">
{% endblock %}

{% block conteudo %}
    <main>

  <h1>Carrinho</h1>

  <section class="container" aria-label="Carrinho e resumo do pedido">

    <div class="carrinho_div" aria-label="Itens no carrinho" role="list" tabindex="0">
    
      <article class="item" role="listitem" aria-label="Item Carne de sol , preço 80 reais, quantidade 1, tamanho médio">
        <div class="image-container">
          <img src="{{url_for('static',filename='img/carne+de+sol.jpg')}}" 
            alt="Carne de sol com acompanhamentos" 
           >
        </div>
        <div class="info">
          
            <span class="nome_food"> Carne de sol</span> <br>
          <span class="preço">Preço: R$ 80,00</span> <br>
          <span class="info_comida2">Código do Pedido: FIX20930390400300</span> <br>
      <span class="info_comida">   Data do Pedido: 23/07/2025 </span> <br>
         <span class="info_comida"> Tamanho: Médio</span> <br>
        </div>
        <button class="remover_bt" aria-label="Remover item Verdadeiro Paulista" title="Remover item"><span class="remover">×</span></button>
        <span class="opções" aria-hidden="true">⋮</span>
        <div class="quantia" aria-label="Controle de quantidade para Verdadeiro Paulista">
          <button aria-label="Diminuir quantidade" title="Diminuir quantidade" type="button">−</button>
          <span aria-live="polite" aria-atomic="true">1</span>
          <button aria-label="Aumentar quantidade" title="Aumentar quantidade" type="button">+</button>
        </div>
      </article>

     
      <article class="item" role="listitem" aria-label="Item Carne de sol, preço 80 reais, quantidade 1, tamanho médio">
        <div class="image-container">
          <img src="{{url_for('static',filename='img/carne+de+sol.jpg')}}" 
            alt="Carne de sol com acompanhamentos" 
            >
        </div>
        <div class="info">
          <span class="nome_food"> Carne de sol</span> <br>
          <span class="preço">Preço: R$ 80,00</span> <br>
          <span class="info_comida2">Código do Pedido: FIX20930390400300</span> <br>
      <span class="info_comida">   Data do Pedido: 23/07/2025 </span> <br>
         <span class="info_comida"> Tamanho: Médio</span> <br>
        </div>
        <button class="remover_bt" aria-label="Remover item Verdadeiro Paulista" title="Remover item"><span class="remover">×</span></button>
        <span class="opções" aria-hidden="true">⋮</span>
        <div class="quantia" aria-label="Controle de quantidade para Verdadeiro Paulista">
          <button  title="Diminuir quantidade" type="button">−</button>
          <span  aria-atomic="true">1</span>
          <button  title="Aumentar quantidade" type="button">+</button>
        </div>
      </article>

     
      <article class="item" role="listitem" aria-label="Item Carne de sol, preço 80 reais, quantidade 1, tamanho médio">
        <div class="image-container">
          <img src="{{url_for('static',filename='img/carne+de+sol.jpg')}}" 
            alt="Carne de sol com acompanhamentos" 
            >
        </div>
        <div class="info">
          <span class="nome_food"> Carne de sol</span> <br>
          <span class="preço">Preço: R$ 80,00</span> <br>
          <span class="info_comida2">Código do Pedido: FIX20930390400300</span> <br>
      <span class="info_comida">   Data do Pedido: 23/07/2025 </span> <br>
         <span class="info_comida"> Tamanho: Médio</span> <br>
        </div>
        <button class="remover_bt" aria-label="Remover item Verdadeiro Paulista" title="Remover item"><span class="remover">×</span></button>
        <span class="opções" aria-hidden="true">⋮</span>
        <div class="quantia" >
          <button  title="Diminuir quantidade" type="button">−</button>
          <span  aria-atomic="true">1</span>
          <button  title="Aumentar quantidade" type="button">+</button>
        </div>
      </article>
    </div>

    <aside class="pedido" aria-label="Resumo do Pedido" tabindex="0">
      <h2>Resumo do Pedido</h2>
      <div class="line subtotal"><span>Subtotal:</span> <span>R$240.00</span></div>
      <div class="line imposto"><span>Taxa:</span> <span>R$10</span></div>
      <div class="line total"><span>Total:</span> <span>R$250.00</span></div>
      <button type="button" aria-label="Realizar pedido">Realizar pedido</button>
      <a href="" class="continue">Continuar Comprando</a>
    </aside>

  </section>

  <section class="algoamais" aria-label="Gostaria de adicionar algo?">
    <h3>Gostaria de Adicionar algo?</h3>
    <div class="recomendados">

      <article class="item_sugerido" aria-label="Batata frita, preço 25 reais, 300 gramas, descrição">
        <div class="rec-img-container">
          <img src="{{url_for('static',filename='img/french fries.jpeg')}}" 
            alt="batatas fritas" 
           >
          <span class="adicione" aria-label="Adicionar Batata frita ao pedido" role="button" tabindex="0" title="Adicionar ao pedido">+</span>
        </div>
        <div class="preco">
          <span>Batata frita</span>
          <span>R$ 25,00</span>
        </div>
        <div class="tags" aria-label="Peso e opções">
          <span class="tag" aria-label="300 gramas">300g</span>
          <span class="tag" aria-label="500 gramas">500g</span>
          <span class="tag" aria-label="700 gramas">700g</span>
        </div>
        <p class="desc">Batata frita , crocante e deliciosa,</p>
      </article>

      <article class="item_sugerido" aria-label="Batata frita, preço 25 reais, 300 gramas, descrição">
        <div class="rec-img-container">
          <img src="{{url_for('static',filename='img/french fries.jpeg')}}" 
            alt="batatas fritas"
           >
          <span class="adicione" aria-label="Adicionar Batata Frita ao pedido" role="button" tabindex="0" title="Adicionar ao pedido">+</span>
        </div>
        <div class="preco">
          <span>Batata Frita</span>
          <span>R$ 25,00</span>
        </div>
        <div class="tags" aria-label="Peso e opções">
          <span class="tag" aria-label="300 gramas">300g</span>
          <span class="tag" aria-label="500 gramas">500g</span>
          <span class="tag" aria-label="700 gramas">700g</span>
        </div>
        <p class="desc">Batata frita , crocante e deliciosa,</p>
      </article>

      <article class="item_sugerido" aria-label="Batata frita, preço 25 reais, 300 gramas, descrição">
        <div class="rec-img-container">
          <img src="{{url_for('static',filename='img/french fries.jpeg')}}" 
            alt="batatas fritas"
           >
          <span class="adicione" aria-label="Adicionar Batata Frita ao pedido" role="button" tabindex="0" title="Adicionar ao pedido">+</span>
        </div>
        <div class="preco">
          <span>Batata Frita</span>
          <span>R$ 25,00</span>
        </div>
        <div class="tags" aria-label="Peso e opções">
          <span class="tag" aria-label="300 gramas">300g</span>
          <span class="tag" aria-label="500 gramas">500g</span>
          <span class="tag" aria-label="700 gramas">700g</span>
        </div>
        <p class="desc">Batata frita , crocante e deliciosa,</p>
      </article>
    </div>
  </section>

  <footer id="footer" class="rodape slide-in-element">
<section class="di">
<span id="direitos">Copyright © 2025 Restaurante Cangarito <br>
| Desevolvido por <span id="dono">Informática 2V</span> |</span>
</section>

<section class="di">
<span id="local">
João Florêncio, 401, Bairro Paraíba, Caicó - Rio Grande do Norte CEP: 59300-000 <br>
                               Fale conosco| ajuda-cangarito@gmail.com.br
</span>
</section>


</footer>
 </main>
{% endblock %}

      
    
   
   

