{% extends "base.html" %}

{% block titulo %}
    Carrinho
{% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrinho-light.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=delete" />
{% endblock %}

{% block conteudo %}
    <main>

  <h1>Carrinho</h1>

  <section class="container" aria-label="Carrinho e resumo do pedido">

    <div class="carrinho_div" aria-label="Itens no carrinho" role="list" tabindex="0">
      {% for pedido in pedidos %}
    
      <article class="item" role="listitem" aria-label="Item Carne de sol , preço 80 reais, quantidade 1, tamanho médio">
        <div class="image-container">
          <img src="{{url_for('static',filename='img/carne+de+sol.jpg')}}" 
            alt="Carne de sol com acompanhamentos">
        </div>

      <div class="info">
            <span class="nome_food">
        {{ pedido.nome }}
      </span>

      <br>

      <span class="nome_food">
        Quantidade: {{ pedido.quantidade }}
      </span>
      <br>

      <span class="nome_food">
        Observação: {{ pedido.observacao }}
      </span>
      <br>
      <span class="nome_food">
        Preço: {{ pedido.preco }}
      </span>
        </div>
        <a href="{{url_for('carrinho_remove', id=pedido.id_carrinho)}}">
        <button class="remover_pedido" name="remover_pedido">
          <span class="material-symbols-outlined">
            delete
          </span>
        </button>
      </a>
      </article>

      
      {% endfor %}
    </div>

    <aside class="pedido" aria-label="Resumo do Pedido" tabindex="0">
      <h2>Resumo do Pedido</h2>
      <div class="line subtotal"><span>Subtotal:</span> <span>R$ {{subtotal}}</span></div>
      <div class="line imposto"><span>Taxa:</span> <span>R$ {{imposto}}</span></div>
      <div class="line total"><span>Total:</span> <span>R$ {{total}}</span></div>
      <form action="carrinho" method="post">
              <input type="hidden" name="subtotal" value="{{subtotal}}">
              <input type="hidden" name="imposto" value="{{imposto}}">
              <input type="hidden" name="total" value="{{total}}">
              <button type="submit" aria-label="Realizar pedido">Realizar pedido</button>
      </form>

      <a href="{{url_for('cardapio')}}" class="continue">Continuar Comprando</a>
    </aside>

  </section>

  <section class="algoamais" aria-label="Gostaria de adicionar algo?">
    <h3>Gostaria de Adicionar algo?</h3>
    <div class="recomendados">

      <article class="item_sugerido" aria-label="Batata frita, preço 25 reais, 300 gramas, descrição">
        <div class="rec-img-container">
          <img src="{{url_for('static',filename='img/french fries.jpeg')}}" 
            alt="batatas fritas" 
           >
          <span class="adicione" aria-label="Adicionar Batata frita ao pedido" role="button" tabindex="0" title="Adicionar ao pedido">+</span>
        </div>
        <div class="preco">
          <span>Batata frita</span>
          <span>R$ 25,00</span>
        </div>
        <div class="tags" aria-label="Peso e opções">
          <span class="tag" aria-label="300 gramas">300g</span>
          <span class="tag" aria-label="500 gramas">500g</span>
          <span class="tag" aria-label="700 gramas">700g</span>
        </div>
        <p class="desc">Batata frita , crocante e deliciosa,</p>
      </article>

      <article class="item_sugerido" aria-label="Batata frita, preço 25 reais, 300 gramas, descrição">
        <div class="rec-img-container">
          <img src="{{url_for('static',filename='img/french fries.jpeg')}}" 
            alt="batatas fritas"
           >
          <span class="adicione" aria-label="Adicionar Batata Frita ao pedido" role="button" tabindex="0" title="Adicionar ao pedido">+</span>
        </div>
        <div class="preco">
          <span>Batata Frita</span>
          <span>R$ 25,00</span>
        </div>
        <div class="tags" aria-label="Peso e opções">
          <span class="tag" aria-label="300 gramas">300g</span>
          <span class="tag" aria-label="500 gramas">500g</span>
          <span class="tag" aria-label="700 gramas">700g</span>
        </div>
        <p class="desc">Batata frita , crocante e deliciosa,</p>
      </article>

      <article class="item_sugerido" aria-label="Batata frita, preço 25 reais, 300 gramas, descrição">
        <div class="rec-img-container">
          <img src="{{url_for('static',filename='img/french fries.jpeg')}}" 
            alt="batatas fritas"
           >
          <span class="adicione" aria-label="Adicionar Batata Frita ao pedido" role="button" tabindex="0" title="Adicionar ao pedido">+</span>
        </div>
        <div class="preco">
          <span>Batata Frita</span>
          <span>R$ 25,00</span>
        </div>
        <div class="tags" aria-label="Peso e opções">
          <span class="tag" aria-label="300 gramas">300g</span>
          <span class="tag" aria-label="500 gramas">500g</span>
          <span class="tag" aria-label="700 gramas">700g</span>
        </div>
        <p class="desc">Batata frita , crocante e deliciosa,</p>
      </article>
    </div>
  </section>

  <footer>
    Copyright © 2025 Restaurante Cangarito | Desenvolvido por <a href="mailto:ajuda-cangarito@gmail.com">Informática 2V</a> <br />
    <br>
    <span id="local">João Florêncio, 401, Bairro Paraíba, Caicó - Rio Grande do Norte CEP: 59300-000 <br />
    Fale conosco: <a href="mailto:ajuda-cangarito@gmail.com">ajuda-cangarito@gmail.com</a></span>
  </footer>
 </main>
{% endblock %}

      
    
   
   

