
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <style>
@import url('https://fonts.cdnfonts.com/css/xilosa');
</style>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
</style>

<style>
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
</style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cangarito - Comidas Nordestinas</title>
    <script src="https://kit.fontawesome.com/0dcb96df0e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/landing_claro.css">
    
</head>
<body>
    <header>
        <img class="logo" src="imagens/logo.png" alt="Cangarito Logo" class="logo">
        <nav>
            <ul id="menu">
                <li><a href="#">Home</a></li>
                <li><a href="../Cardápio/cardapio.html">Cardápio</a></li>
                <li><a href="#footer">Contato</a></li>
                <li><a href="#unidades">Unidades</a></li>
                <li><a href="#historia">Sobre</a></li>
            </ul>
        </nav>
       <div id="userclaro">
   <a class="icone2" href="../Carrinho/carrinho.html"><i id="carrinho" class="fa-solid fa-cart-shopping"></i></a>     
 <a class="icone2" href="../perfil-home/perfil.html"><i id="icone" class="fa-regular fa-circle-user fa-2xl"     > </i></a>
       </div>

      
      
    </header>

    <main>
        
        <section  class="secao1 slide-in-element">
            <img src="imagens/img inicial.png" alt="Delicious Food" class="featured-image">
            <div class="chamada">
                <h1 class="saboreie">Saboreie <br>
                   
                o sertão em nosso cardápio
                </h1>
                
                <a href="../Cardápio/cardapio.html" class="btn">Cardápio ></a>
            </div>
        </section>
        <div class="container slide-in-element">
      
        <section id="historia" class="content">
            <article class="article1">
     <div class="history">
                <h3 class="cangari">O Cangarito</h3>
                <h1 class="nossa">Nossa História</h1>
                <p class=" desc">O restaurante Cangarito foi inaugurado em 1938, que até os dias de hoje, traz as artes da culinária nordestina a tona...</p>
            </div>

            <div class="nord1">
  <img class="detalhe1" src="imagens/nordeste1.jpeg" alt="Arte 1">
            </div>
            </article>
       
           <article class="images">
<img class="nord2" src="imagens/nordeste2.jpg" alt="Arte 2">
           </article>


      
        </section>
    </div>






<section id="unidades" class="corpo2 slide-in-element">
    <div class="header2">
<span class="venha"> Conheça nossas unidades</span>
    </div>


    <section class="corpo">
<section class="resta1">
            <img src="imagens/canga1.png" alt="Cangarito">
            <div class="info">
                <h2>Caicó</h2>
                <p>Boa passagem</p>
                <p>Horário de Funcionamento</p>
                <p>De Segunda a Quinta das 11h30 às 00h</p>
                <p>Sexta & Sábado das 11h30 às 00h30</p>
                <p>Domingos e feriado das 11h30 às 17h</p>
                <p>Música ao vivo às De Sexta e Sábados, das 18h às 00h</p>
                <button class="butao"> <img src="imagens/watzap.png" alt=""> Entre em contato</button>
            </div>
        </section>
        
        <aside class="contact-form slide-in-element ">
            <h3>Entre em contato</h3>
            <p>Realize o cadastro para concorrer a sorteios no Cangarito!</p>
            <form id="contactForm">
              
                <input class="input"  type="text" id="nome" name="nome" placeholder="Nome" required>
              
              
                <input class="input"  type="email" id="email" name="email" placeholder="Email" >
                <div class="erro_mensagem" id="email-error"></div>
              
                
                <input class="input" type="tel" id="telefone" name="telefone" placeholder="Telefone" >
                <div class="erro_mensagem" id="telefone-error"></div>
                
                <div class="cadastrar">
<button  type="submit">Cadastre-se</button>
                </div>
                
            </form>
        </aside>

    </section>
<section class="outro slide-in-element">
        <section class="resta2">
            <img src="imagens/canga2.png" alt="Cangarito2">
            <div class="info">
                <h2>Xique-Xique</h2>
                <p>Rua castro Alvez</p>
                <p>Horário de Funcionamento</p>
                <p>De Quarta, Quinta e Sexta,</p>
                <p>das 11h às 22h</p>
                <p>Sábado, das 11h às 04h</p>
                <p>Domingo, das 11h às 22h</p>
                <button class="butao"><img src="imagens/watzap.png" alt="">
<span > Entre em contato</span></button>
                    </div>
                    
            </div>
    </section>
</section>

<article class="cuscuis slide-in-element">
<img  src="imagens/cuscuz.jpeg" alt="">
</article>

<section class="section4 slide-in-element">
    
<div class="header4">
<span id="cardapio" class="titulo4">CARDAPIO</span>
<span class="Cardapio2">Destaques Do Cangarito</span>
</div>



<section  class="itenscar">



    <article class="item_esquerda">

<div class="comida">
    <img src="imagens/macaxeira.jpg" alt="">
</div>

<div class="desc_comida">

<h2 class="nome_comida">
    Macaxeira Frita
</h2>

<span class="preço">R$24.00</span> <br>

<span class="carac_comida">Aquela crocância e sabor que <br>
só o nordestino arroxado conhece</span>
</div>



<div class="comida">
    <img src="imagens/escondidin.jpeg" alt="">
</div>

<div class="desc_comida">

<h2 class="nome_comida">
    Escondidinho de Carne
</h2>

<span class="preço">R$56.00</span> <br>

<span class="carac_comida">O prato que lhe faz procurar <br>
a felicidade enquanto você come</span>
</div>



<div class="comida">
    <img src="imagens/Farofa-de-cuscuz.jpg" alt="">
</div>

<div class="desc_comida">

<h2 class="nome_comida">
    Farofa de Cuscuz
</h2>

<span class="preço">R$28.00</span> <br>

<span class="carac_comida">Nordestino que é nordestino <br>
 sabe que aquele cuscuzinho é irresistível</span>
</div>



    </article>


<article class="item_direita">

<div class="comidas">
    <img src="imagens/tapiocaalecrim_comqueijo.jpeg" alt="">
</div>

<div class="desc_comida2">

<h2 class="nome_comida">
    Tapioca de Queijo
</h2>

<span class="preço">R$16.00</span> <br>

<span class="carac_comida">A tapioca de queijo manteiga <br>
 suculentata do nordeste!</span>
</div>


<div class="comidas">
    <img src="imagens/carne+de+sol.jpg" alt="">
</div>

<div class="desc_comida2">

<h2 class="nome_comida">
    Carne de Sol
</h2>

<span class="preço">R$87.00</span> <br>

<span class="carac_comida">Aquela carne passada na manteiga <br>
acompanhada de arroz branco com <br>
feijão tropeiro</span>
</div>





<div class="comidas">
    <img src="imagens/bobo-de-camarao.jpg" alt="">
</div>

<div class="desc_comida2">

<h2 class="nome_comida">
    Bobó de Camarão
</h2>

<span class="preço">R$40.00</span> <br>

<span class="carac_comida">Creme de camarão delicioso, sabor <br>
que só o sertão lhe permite ter 
</span>
</div>



</article>


  </section>
    <div class="ci">
 <a class="cardapio_inteiro" href="../Cardápio/cardapio.html">Cardápio Inteiro></a>
    </div>



</section>

 <section class="secao5 slide-in-element">


<section class="secao6">

<article class="secao7">

<section class="cangaforall">

<span class="services"> Nossos Serviços</span> <br>
<span class="canga">Cangarito For All</span>

</section>




<section class="servicos">


<article class="sobre_os_serviços">

<span class="nome_serviço">Happy Hour</span>
<span class="desc_serviço">
    Happy hour arretado! <br>
Pra tomar aquela gelada, só podia <br>
ser no cangarito mermo
</span>
<a class="chamada_serviço" href="../happy hour/happyhour.html">Confira as Geladas ></a>
</article>
<div class="imagens_services">
<img src="imagens/happy hour.jpeg" alt="">
</div>


</section>


<section class="servicos">



<div class="imagens_services2">
<img src="imagens/saida trabalho.jpeg" alt="">

</div>

<article class="sobre_os_serviços2">

<span class="nome_serviço">Saida do Trabalho</span>
<span class="desc_serviço">
    Ta querendo dar um descanso do trabalho 
    com a turma toda?, o cangarito tem o  
    melhor pra oferecer a você e a sua equipe  
    de trabalho com nossas salas particulares  
    de até 150 pessoas e petiscos que só o  
    sertão tem
</span>
<a class="chamada_serviço2" href="#footer">Reserve uma Sala ></a>
</article>

</section>
<section class="servicos">


<article class="sobre_os_serviços2">

<span class="nome_serviço">Oxente, Tem Festa?</span>
<span class="desc_serviço">
 Venha comemorar seu aniversário 
 aqui conosco, com música e muita
 animação. A partir de 15 
 convidados é possível escolher um
 dos nossos pacotes festas e fazer a
 sua reserva. Ah, e nesse caso, o
 bolo do nordestino
 aniversariante é por nossa conta.
</span>
<a class="chamada_serviço" href="#footer">Agende seu aniversário ></a>
</article>
<div class="imagens_services2">
<img src="imagens/aniversario.avif" alt="">
</div>


</section>
<section class="servicos">



<div class="imagens_services2">
<img src="imagens/musica.jpeg" alt="">

</div>

<article class="sobre_os_serviços2">

<span class="nome_serviço">Musica ao Vivo</span>
<span class="desc_serviço">
 Aqui no cangarito, não pode faltar
aquela musica pra combinar com
a comida e a gelada. Fique atento
 aos eventos musicais pra chamar
  a galera pra curtir aquele forró de domingo.
</span>
<a class="chamada_serviço2" href="#footer">Confira o Cronograma ></a>
</article>

</section>
  
</article>



</section>

<footer id="footer" class="rodape slide-in-element">
<section class="di">
<span id="direitos">Copyright © 2025 Restaurante Cangarito <br>
| Desevolvido por <span id="dono">Informática 2V</span> |</span>
</section>

<section class="di">
<span id="local">
João Florêncio, 401, Bairro Paraíba, Caicó - Rio Grande do Norte CEP: 59300-000 <br>
                               Fale conosco| ajuda-cangarito@gmail.com.br
</span>
</section>


</footer>
 </section>



    </main>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const slideInElements = document.querySelectorAll('.slide-in-element');
            const checkVisibility = () => {
                slideInElements.forEach((element, index) => {
                    
                    const rect = element.getBoundingClientRect();
                  
                    const isVisible = (
                        rect.top <= (window.innerHeight || document.documentElement.clientHeight) &&
                        rect.bottom >= 0
                    );
                    if (isVisible) {
                        setTimeout(() => {
                            element.classList.add('visible');
                        }, index * 75); 
                    } else {
                        
                    }
                    
                });
            };
            
            checkVisibility();
            
            window.addEventListener('scroll', checkVisibility);
           
          
            const contactForm = document.getElementById('contactForm');
            const emailInput = document.getElementById('email');
            const telefoneInput = document.getElementById('telefone');
            const emailError = document.getElementById('email-error');
            const telefoneError = document.getElementById('telefone-error');

            contactForm.addEventListener('submit', function(event) {
                let isValid = true;

              
                const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailPattern.test(emailInput.value)) {
                    emailError.textContent = 'Por favor, insira um e-mail válido.';
                    emailError.style.display = 'block';
                    isValid = false;
                } else {
                    emailError.textContent = '';
                    emailError.style.display = 'none';
                }

                
                const telefonePattern = /^\d{10,11}$/;
                if (!telefonePattern.test(telefoneInput.value.replace(/\D/g, ''))) { 
                    telefoneError.textContent = 'Por favor, insira um telefone válido (apenas números, 10 ou 11 dígitos).';
                    telefoneError.style.display = 'block';
                    isValid = false;
                } else {
                    telefoneError.textContent = '';
                    telefoneError.style.display = 'none';
                }

                if (!isValid) {
                    event.preventDefault(); 
                }
            });
        });
    </script>
</body>
</html>
