{% extends "base.html" %}

{% block titulo %}
    Perfil
{% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
{% endblock %}

{% block conteudo %}
    
<div id="theme-widget">
                <span id="theme-sun">☀️</span>
                <div id="theme-divider"></div>
                <span id="theme-moon">🌙</span>
            </div>
    <section class="banner">
        <img src="{{url_for('static',filename='img/promo.png')}}" alt="Promoção Cangarito">
    </section>

    <section class="perfil">
        <div class="perfil-info">
            <img src="{{url_for('static',filename='img/romerito.png')}}" alt="Foto de Perfil">
            <div class="perfil-texto">
                <h3>Romerito do Cuscuz</h3>
                <p>Romerito Maratona Flokis de’mi</p>
                <small><i class="bi bi-geo-alt"></i> Insira seu endereço</small>
            </div>
        </div>
        <div class="canga-points">
            <span>Canga points: <strong>200</strong></span>
            <i class="bi bi-coin"></i>
        </div>
    </section>

    <nav class="menu-perfil">
        <a href="#">Histórico</a>
        <a href="#">Favoritos</a>
        <a href="#">Canga Points</a>
        <a href="{{url_for('landingpage')}}#footer">Ajuda & Suporte</a>
    </nav>

    <section class="historico">
        <div class="historico-header">
            <h4>Histórico de Pedidos</h4>
            <i class="bi bi-funnel-fill"></i>
        </div>

        <div class="historico-lista">
            <article class="pedido">
                <div class="pedido-header">
                    <h5>Verdadeiro Paulista</h5>
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
                <div class="pedido-content">
                    <img src="{{url_for('static',filename='img/verdadeiro paulista.jpeg')}}" alt="Cuscuz">
                    <div class="pedido-detalhes">
                        <div class="estrelas">★★★★☆</div>
                        <p><strong>Código do Pedido:</strong> FXI20930390400300</p>
                        <p><strong>Data:</strong> 22/07/2025</p>
                        <p><strong>Estado:</strong> Pendente</p>
                        <p><strong>Entregue:</strong> Retirada</p>
                        <p><strong>Preço Pago:</strong> R$ 80,00</p>
                    </div>
                    
                </div>
            </article>
             <article class="pedido">
                <div class="pedido-header">
                    <h5>Verdadeiro Paulista</h5>
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
                <div class="pedido-content">
                    <img src="{{url_for('static',filename='img/verdadeiro paulista.jpeg')}}" alt="Cuscuz">
                    <div class="pedido-detalhes">
                        <div class="estrelas">★★★★☆</div>
                        <p><strong>Código do Pedido:</strong> FXI20930390400300</p>
                        <p><strong>Data:</strong> 22/07/2025</p>
                        <p><strong>Estado:</strong> Pendente</p>
                        <p><strong>Entregue:</strong> Retirada</p>
                        <p><strong>Preço Pago:</strong> R$ 80,00</p>
                    </div>
                    
                </div>
            </article>
             <article class="pedido">
                <div class="pedido-header">
                    <h5>Verdadeiro Paulista</h5>
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
                <div class="pedido-content">
                    <img src="{{url_for('static',filename='img/verdadeiro paulista.jpeg')}}" alt="Cuscuz">
                    <div class="pedido-detalhes">
                        <div class="estrelas">★★★★☆</div>
                        <p><strong>Código do Pedido:</strong> FXI20930390400300</p>
                        <p><strong>Data:</strong> 22/07/2025</p>
                        <p><strong>Estado:</strong> Pendente</p>
                        <p><strong>Entregue:</strong> Retirada</p>
                        <p><strong>Preço Pago:</strong> R$ 80,00</p>
                    </div>
                    
                </div>
            </article>
        </div>
    </section>
</main>
{% endblock %}

{% block scripts %}
        <script>
        const themeWidget = document.getElementById('theme-widget');

        function setTheme(theme) {
            document.body.setAttribute('data-theme', theme);
            localStorage.setItem('theme', theme);
        }

        const savedTheme = localStorage.getItem('theme') || 'light';
        setTheme(savedTheme);

        themeWidget.addEventListener('click', () => {
            const currentTheme = document.body.getAttribute('data-theme');
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            setTheme(newTheme);
        });
        function aplicarTema(theme) {
                document.body.setAttribute('data-theme', theme);
            }

            const temaSalvo = localStorage.getItem('theme');

            if (temaSalvo) {
                aplicarTema(temaSalvo);
            } else {
                aplicarTema('light');
            }
        
    </script>
{% endblock %}
    <
